# Project Notebook v2

# Notes
    * Need to figure out how to rename empty cells for parents
    * Need to combine disc buy and digital buy into just total buy for numbers and percents
    * Need to figure out how to split a groupby over more than one line
    * Need to figure out how to use compound logic/conditions in a groupby

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [11]:
# loads in csv
dtt = pd.read_csv("Data\DTT Final Data w labels.csv",index_col=0)
dtt.head()

,Gender,Age,Age_Breaks,Region2,Race,Language_Dominance,Parent,HH_Income,Employment,Education,...,Rented_Digital_iVOD,Rented_Digital_sVOD,Rented_Digital_cVOD,cqhidGroup,filter_$,ZTotal_Paid_HE_Movies,Buy_Disc_Percent,Buy_Digital_Percent,Rent_Disc_Percent,Rent_Digital_Percent
respid,,,,,,,,,,,,,,,,,,,,,
44,Female,20,18-24,South,Black,,,1 - < $20K,4 - Not employed,2 - HS Grad,...,5,18,4,Gen-Pop,Selected,1.492690,0.363636,0.0,0.145455,0.490909
108,Male,31,25-34,Northeast,Hispanic,Only English,No,1 - < $20K,4 - Not employed,2 - HS Grad,...,0,0,0,Gen-Pop,Selected,0.009386,0.157895,0.0,0.842105,0.000000
147,Female,19,18-24,South,White,,,1 - < $20K,4 - Not employed,2 - HS Grad,...,0,5,0,Gen-Pop,Selected,-0.567454,0.000000,0.0,0.000000,1.000000
171,Female,18,18-24,Northeast,White,,,1 - < $20K,2 - Part time,3 - Some coll,...,0,7,0,Gen-Pop,Selected,-0.485048,0.000000,0.0,0.000000,1.000000
174,Female,54,45-54,South,White,,No,1 - < $20K,4 - Not employed,2 - HS Grad,...,0,50,0,Gen-Pop,Selected,1.286676,0.000000,0.0,0.000000,1.000000

In [3]:
#Calculates all rollups and adds as columns

#total movies bought on disc
dtt['Total Discs Bought'] = (dtt['Bought_Disc_BD'] + dtt['Bought_Disc_DVD'])

#total movies rented on disc
dtt['Total Discs Rented'] = (dtt['Rented_Disc_Kiosk'] + dtt['Rented_Disc_Mail'] + dtt['Rented_Disc_Store'])

#total movies rented on digital
dtt['Total Digital Rented'] = (dtt['Rented_Digital_cVOD'] + dtt['Rented_Digital_iVOD'] + dtt['Rented_Digital_sVOD'])

#total movies purchased
dtt['Total Bought'] = (dtt['Bought_Disc_BD'] + dtt['Bought_Disc_DVD'] + dtt['Bought_Digital'])

#total movies purchased as percent of total
dtt['Buy_percent'] = dtt['Total Bought'].astype(float) / dtt['Total_Paid_HE_Movies']

In [4]:
dtt.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1925.0,39.631169,15.969080,12.000000,26.000000,39.000000,52.000000,74.000000
Total_Paid_HE_Movies,1925.0,16.145455,16.526946,1.000000,5.000000,10.000000,22.000000,91.000000
Bought_Disc_DVD,1925.0,1.588052,2.914257,0.000000,0.000000,1.000000,2.000000,30.000000
Bought_Disc_BD,1925.0,1.284156,2.637839,0.000000,0.000000,0.000000,2.000000,50.000000
Bought_Digital,1925.0,0.723636,2.081871,0.000000,0.000000,0.000000,1.000000,30.000000
Rented_Disc_Store,1925.0,0.696104,2.313436,0.000000,0.000000,0.000000,0.000000,50.000000
Rented_Disc_Kiosk,1925.0,2.020260,4.263794,0.000000,0.000000,0.000000,2.000000,50.000000
Rented_Disc_Mail,1925.0,1.131948,4.504357,0.000000,0.000000,0.000000,0.000000,70.000000
Rented_Digital_iVOD,1925.0,0.717922,2.047491,0.000000,0.000000,0.000000,1.000000,50.000000
Rented_Digital_sVOD,1925.0,6.691429,10.804796,0.000000,0.000000,3.000000,10.000000,80.000000
Rented_Digital_cVOD,1925.0,1.291948,3.550492,0.000000,0.000000,0.000000,1.000000,75.000000
ZTotal_Paid_HE_Movies,1925.0,-0.108229,0.680958,-0.732266,-0.567454,-0.361440,0.132995,2.975994
Buy_Disc_Percent,1925.0,0.239981,0.306352,0.000000,0.000000,0.136364,0.333333,1.000000
Buy_Digital_Percent,1925.0,0.041825,0.111739,0.000000,0.000000,0.000000,0.014925,1.000000
Rent_Disc_Percent,1925.0,0.234541,0.292798,0.000000,0.000000,0.116279,0.375000,1.000000
Rent_Digital_Percent,1925.0,0.483653,0.369288,0.000000,0.133333,0.483871,0.833333,1.000000
Total Discs Bought,1925.0,2.872208,4.604784,0.000000,0.000000,1.000000,4.000000,55.000000
Total Discs Rented,1925.0,3.848312,6.915127,0.000000,0.000000,1.000000,5.000000,70.000000
Total Digital Rented,1925.0,8.701299,11.978178,0.000000,1.000000,5.000000,11.000000,90.000000
Total Bought,1925.0,3.595844,5.596236,0.000000,0.000000,2.000000,5.000000,60.000000
Buy_percent,1925.0,0.281806,0.323495,0.000000,0.000000,0.181818,0.416667,1.000000

In [ ]:
for x in dtt.columns.values:
    print x

# Getting Dummies

## Gender

In [5]:
dGender = pd.get_dummies(dtt.Gender, prefix='Gender', drop_first = True)
dGender.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 44 to 19417
Data columns (total 1 columns):
Gender_Male    1925 non-null uint8
dtypes: uint8(1)
memory usage: 16.9 KB

## Age_Breaks

In [6]:
dAge_Breaks = pd.get_dummies(dtt.Age_Breaks, prefix = 'Age', drop_first= True)
dAge_Breaks.info(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 44 to 19417
Data columns (total 6 columns):
Age_18-24    1925 non-null uint8
Age_25-34    1925 non-null uint8
Age_35-44    1925 non-null uint8
Age_45-54    1925 non-null uint8
Age_55-64    1925 non-null uint8
Age_65-74    1925 non-null uint8
dtypes: uint8(6)
memory usage: 26.3 KB

## Race

In [7]:
dRace = pd.get_dummies(dtt.Race, prefix = 'Race',drop_first=True)
dRace.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 44 to 19417
Data columns (total 4 columns):
Race_Black       1925 non-null uint8
Race_Hispanic    1925 non-null uint8
Race_Other       1925 non-null uint8
Race_White       1925 non-null uint8
dtypes: uint8(4)
memory usage: 22.6 KB

## Region

In [8]:
dRegion = pd.get_dummies(dtt.Region2,prefix='Region', drop_first=True)
dRegion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 44 to 19417
Data columns (total 3 columns):
Region_Northeast    1925 non-null uint8
Region_South        1925 non-null uint8
Region_West         1925 non-null uint8
dtypes: uint8(3)
memory usage: 20.7 KB

## Parent

In [9]:
dParent = pd.get_dummies(dtt.Parent,prefix='Parent')
dParent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 44 to 19417
Data columns (total 3 columns):
Parent_       1925 non-null uint8
Parent_No     1925 non-null uint8
Parent_Yes    1925 non-null uint8
dtypes: uint8(3)
memory usage: 20.7 KB

## Income

In [ ]:
dHH_Income = pd.get_dummies(dtt.HH_Income,prefix='Income')
dHH_Income.info()

## Employment

In [ ]:
dEmployment = pd.get_dummies(dtt.Employment,prefix='Employment')
dEmployment.info()

## Education

In [ ]:
dEducation = pd.get_dummies(dtt.Education,prefix='Education')
dEducation.info()

## Marital Status

In [ ]:
dMarital_Status = pd.get_dummies(dtt.Marital_Status,prefix='Marital_Status')
dMarital_Status.info()

In [ ]:
dtt = pd.concat([dtt, dGender, dAge_Breaks, dRace, dRegion, dParent, dHH_Income, dEmployment, 
                 dEducation, dMarital_Status], axis=1)

In [ ]:
dtt.info()

## Model Building

In [ ]:
from scipy import stats
import statsmodels.api as sm

### Creating Feature Sets

In [ ]:
XGender = dtt[['Gender_Male']]

In [ ]:
XAge_Breaks = dtt[['Age_12-17', 'Age_18-24', 'Age_25-34', 'Age_35-44', 'Age_45-54', 'Age_55-64', 'Age_65-74']]

XAge = dtt[['Age']]

XRace = dtt[['Race_Asian','Race_Black','Race_Hispanic','Race_Other','Race_White']]

XParent = dtt[['Parent_No','Parent_Yes']]

XRegion = dtt[['Region_Midwest', 'Region_Northeast', 'Region_South', 'Region_West']]


XIncome = dtt[['Income_1 - < $20K', 'Income_2 - $20 to $29K', 'Income_3 - $30 to $39K',
               'Income_4 - $40 to $59K', 'Income_5 - $60 to $74K', 
               'Income_6 - $75 to $99K', 'Income_7 - $100 to $149K', 
               'Income_8 - $150 to $199K', 'Income_9 - $200K+', 'Income_Prefer not to answer']]

XEmpl = dtt[['Employment_1 - Full time', 'Employment_2 - Part time', 
             'Employment_3 - Retired', 'Employment_4 - Not employed']]


XEdu = dtt[['Education_1 - HS or less', 'Education_2 - HS Grad', 'Education_3 - Some coll', 
            'Education_4 - Coll Grad', 'Education_5 - Some Post-grad', 'Education_6 - Post-grad', 
            'Education_7 - Prefer not to answer']]


XMar = dtt[['Marital_Status_Living with a partner', 'Marital_Status_Married', 
            'Marital_Status_Prefer not to answer', 'Marital_Status_Single']]

XPercent = dtt[['Buy_percent', 'Rent_Disc_Percent', 'Rent_Digital_Percent']]

XMethod = dtt[['Total Bought', 'Total Discs Rented', 'Total Digital Rented']]

XAll_Age_Breaks = pd.concat([XGender, XAge_Breaks, XRace, XParent, XRegion, XIncome, XEmpl, 
                      XEdu, XMar, XPercent, XMethod],axis=1)

XAll_Age = pd.concat([XGender, XAge, XRace, XParent, XRegion, XIncome, XEmpl, 
                      XEdu, XMar, XPercent, XMethod],axis=1)

XAll_Age.info()

### Using all (age_breaks)

In [ ]:
XAll_Age_Breaks = sm.add_constant(XAll_Age_Breaks) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model_all = sm.OLS(y, XAll_Age_Breaks)
results = model_all.fit()
print(results.summary())

### Gender Alone

In [ ]:
XGender = sm.add_constant(XGender) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XGender)
results = model.fit()
print(results.summary())

### Age Breaks

In [ ]:
XAge_Breaks = sm.add_constant(XAge_Breaks) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XAge_Breaks)
results = model.fit()
print(results.summary())

### Age (continuous)

In [ ]:
XAge = sm.add_constant(XAge) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XAge)
results = model.fit()
print(results.summary())

### Race

In [ ]:
XRace = sm.add_constant(XRace) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XRace)
results = model.fit()
print(results.summary())

### Parent

In [ ]:
XParent = sm.add_constant(XParent) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XParent)
results = model.fit()
print(results.summary())

### Region

In [ ]:
XRegion = sm.add_constant(XRegion) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XRegion)
results = model.fit()
print(results.summary())

### Income

In [ ]:
XIncome = sm.add_constant(XIncome) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XIncome)
results = model.fit()
print(results.summary())

### Consumption as Percent

In [ ]:
XPercent = sm.add_constant(XPercent) # another way to add a constant row for an intercept
y = dtt['Total_Paid_HE_Movies']

model = sm.OLS(y, XPercent)
results = model.fit()
print(results.summary())

# Using Sci-Kit Learn

In [ ]:
from sklearn import feature_selection, linear_model

def get_linear_model_metrics(X, y, algo):
    # get the pvalue of X given y. Ignore f-stat for now.
    pvals = feature_selection.f_regression(X, y)[1]
    # start with an empty linear regression object
    # .fit() runs the linear regression function on X and y
    algo.fit(X,y)
    residuals = (y-algo.predict(X)).values

    # print the necessary values
    print 'P Values:', pvals
    print 'Coefficients:', algo.coef_
    print 'y-intercept:', algo.intercept_
    print 'R-Squared:', algo.score(X,y)
    print 'Mean squared error:', metrics.mean_squared_error(y, algo.predict(X))
    plt.figure()
    plt.hist(residuals, bins=np.ceil(np.sqrt(len(y))).astype(int))
    
    # keep the model
    return algo

from sklearn.model_selection import cross_val_score
scores = cross_val_score(loan_model, X, y=result['FullyFunded'], groups=None, scoring='roc_auc', cv=5, 
                n_jobs=1, verbose=0, fit_params=None, pre_dispatch='2*n_jobs')

print scores.mean()

In [ ]:
X = mammals[['bodywt']]
y = mammals['brainwt']
lm = linear_model.LinearRegression()
lm = get_linear_model_metrics(X, y, lm)

In [ ]:
XAll = pd.concat([XGender, XAge_Breaks, XRace, XRegion, XIncome, Xempl, Xedu, Xmar, Xpercent, Xmethod],axis=1)
XAll.info()

In [ ]:
XAll.drop('const', axis=1)
XAll.info()

# Key Measures by Demographics

In [ ]:
Cons_Meas_wTot = ['Total_Paid_HE_Movies','Total Bought','Total Discs Rented',
                  'Total Digital Rented']

Cons_Meas_noTot = ['Total Bought','Total Discs Rented','Total Digital Rented']

### Consumption by Gender

In [ ]:
dtt.groupby(dtt.Gender)[Cons_Meas_wTot].mean()

In [ ]:
gby_gender = dtt.groupby(dtt.Gender)[Cons_Meas_noTot].mean()
gby_gender.plot(kind='bar',stacked=True,title = "Average Consumption by Gender")

In [ ]:
gby_gender = dtt.groupby(dtt.Gender)[Cons_Meas_noTot].mean()
gby_gender.plot(kind='bar',stacked=False,title = "Average Consumption by Gender")

### Consumption by Age Breaks

In [ ]:
dtt.groupby(dtt.Age_Breaks)[Cons_Meas_wTot].mean()

In [ ]:
gby_age = dtt.groupby(dtt.Age_Breaks)[Cons_Meas_noTot].mean()
gby_age.plot(kind = 'bar', stacked = True, title = 'Average Consumption by Age')

In [ ]:
gby_age = dtt.groupby(dtt.Age_Breaks)[Cons_Meas_noTot].mean()
gby_age.plot(kind = 'bar', stacked = False, title = 'Average Consumption by Age')

### Consumption by Race

In [ ]:
dtt.groupby(dtt.Race)[Cons_Meas_wTot].mean()

In [ ]:
gby_race = dtt.groupby(dtt.Race)[Cons_Meas_noTot].mean()
gby_race.plot(kind = 'bar', stacked = True, title = 'Average Consumption by Race')

In [ ]:
gby_race = dtt.groupby(dtt.Race)[Cons_Meas_noTot].mean()
gby_race.plot(kind = 'bar', stacked = False, title = 'Average Consumption by Race')

### Consumption by Employment Status

In [ ]:
dtt.groupby(dtt.Employment)[Cons_Meas_wTot].mean()

In [ ]:
gby_emply = dtt.groupby(dtt.Employment)[Cons_Meas_noTot].mean()
gby_emply.plot(kind = 'bar', stacked = True, title = 'Average Consumption by Employment')

In [ ]:
gby_emply = dtt.groupby(dtt.Employment)[Cons_Meas_noTot].mean()
gby_emply.plot(kind = 'bar', stacked = False, title = 'Average Consumption by Employment')

### Consumption by Education

In [ ]:
dtt.groupby(dtt.Education)[Cons_Meas_wTot].mean()

In [ ]:
gby_educ = dtt.groupby(dtt.Education)[Cons_Meas_noTot].mean()
gby_educ = gby_educ.drop(['7 - Prefer not to answer'])

gby_educ.plot(kind = 'bar', stacked = True, title = 'Average Consumption by Education')

In [ ]:
gby_educ = dtt.groupby(dtt.Education)[Cons_Meas_noTot].mean()
gby_educ = gby_educ.drop(['7 - Prefer not to answer'])
gby_educ.plot(kind = 'bar', stacked = False, title = 'Average Consumption by Education')

### Consumption by Marital Status

In [ ]:
dtt.groupby(dtt.Marital_Status[dtt.Marital_Status != 'Prefer not to answer'])[Cons_Meas_wTot].mean()

In [ ]:
dtt.groupby(dtt.Marital_Status[dtt.Marital_Status != 'Prefer not to answer'])[Cons_Meas_noTot].mean().plot(kind='bar',stacked = True)

In [ ]:
dtt.groupby(
    dtt.Marital_Status[dtt.Marital_Status != 'Prefer not to answer'])[Cons_Meas_noTot].mean().plot(kind='bar',
                                                                                                   stacked = False)

### Consumption by Parental status

In [ ]:
dtt.Parent.value_counts()

In [ ]:
dtt.Parent.unique()

In [ ]:
dtt.groupby(dtt.Parent [(dtt.Parent == "Yes") | (dtt.Parent == "No")])[Cons_Meas_wTot].mean()

In [ ]:
dtt.groupby(
    dtt.Parent[(dtt.Parent == 'Yes')|(dtt.Parent == 'No')])[Cons_Meas_noTot].mean().plot(kind='bar',
                                                                                         title = 'Consumption by Parental Status', 
                                                                                         stacked = True)

In [ ]:
dtt.groupby(
    dtt.Parent[(dtt.Parent == 'Yes')|(dtt.Parent == 'No')])[Cons_Meas_noTot].mean().plot(kind='bar',
                                                                                         title = 'Consumption by Parental Status', 
                                                                                         stacked = False)

### Consumption by Income (TO DO)

### Consumption Distributions

Probably need to combine disc and digital purchase into just purchase

In [ ]:
dtt_numbers = dtt[['Total_Paid_HE_Movies','Total Bought','Total Discs Rented',
      'Total Digital Rented','Buy_percent','Rent_Disc_Percent',
      'Rent_Digital_Percent']]

dtt_numbers.shape

In [ ]:
dtt_numbers.describe()

In [ ]:
print "Correlations across Consumption"
dtt_numbers[['Total_Paid_HE_Movies','Total Bought', 'Total Digital Rented','Total Discs Rented']].corr()

In [ ]:
corr = dtt_numbers[
    ['Total_Paid_HE_Movies','Total Bought',
     'Total Digital Rented','Total Discs Rented']].corr()

sns.heatmap(corr)

In [ ]:
dtt.Total_Paid_HE_Movies.plot(kind='hist', bins = 50, title = 'Total Paid HE Movies')

In [ ]:
dtt['Total Discs Bought'].plot(kind='hist', bins = 50, title = 'Total Discs Bought')

In [ ]:
dtt['Buy_Disc_Percent'].plot(kind='hist', bins = 50, title = 'Total Discs as % of Total')

In [ ]:
dtt['Bought_Digital'].plot(kind='hist', bins = 50, title = 'Total Digital Bought')

In [ ]:
dtt['Buy_Digital_Percent'].plot(kind='hist', bins = 50, title = 'Total Digital Purchases as % of Total')

In [ ]:
dtt['Total Discs Rented'].plot(kind='hist', bins = 50, title = 'Total Discs Rented')

In [ ]:
dtt['Rent_Disc_Percent'].plot(kind='hist', bins = 50, title = 'Total Disc Rental as % of Total')

In [ ]:
dtt['Total Digital Rented'].plot(kind='hist', bins = 50, title = 'Total Digital Rented')

In [ ]:
dtt['Rent_Digital_Percent'].plot(kind='hist', bins = 50, title = 'Total Digital Rental as % of Total')

In [ ]:
demos = ['Gender', 'Age_Breaks', 'Region2', 'Race', 'Parent', 'HH_Income', 'Employment', 'Education', 'Marital_Status']

sns.factorplot(data=dtt, x='Gender', y='Total_Paid_HE_Movies', hue=None)

# Model Building

In [ ]:
dtt.info()

In [ ]:
dtt.ZTotal_Paid_HE_Movies = dtt.ZTotal_Paid_HE_Movies.astype(float)
dtt.Buy_Disc_Percent = dtt.Buy_Disc_Percent.astype(float)
dtt.Buy_Digital_Percent = dtt.Buy_Digital_Percent.astype(float)
dtt.Rent_Disc_Percent = dtt.Rent_Disc_Percent.astype(float)
dtt.Rent_Digital_Percent = dtt.Rent_Digital_Percent.astype(float)
dtt.Buy_percent = dtt.Buy_percent.astype(float)

In [ ]:
dtt.info()

In [ ]:
# setting all dummies

Dgender = pd.get_dummies(dtt.Gender, prefix='Gender', prefix_sep='_', dummy_na=False, 
                         columns=None, sparse=False, drop_first=False)

Dgender.head()

dtt = pd.concat([dtt, Dgender], axis=1)

dtt.head()

In [ ]:
# from sklearn import linear_model

X = dtt[['Gender', 'Age', 'Age_Breaks', 'Region2', 'Race', 'Parent',
         'HH_Income', 'Employment', 'Education', 'Marital_Status', 
         'Total Discs Rented', 'Total Digital Rented', 'Total Bought', 
         'Rent_Disc_Percent', 'Rent_Digital_Percent', 'Buy_percent']]

X.info()

y = dtt['Total_Paid_HE_Movies']

# Fit the linear model
model = linear_model.LinearRegression()
results = model.fit(X, y)

# Print the coefficients
print results.intercept_, results.coef_