In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib

%matplotlib inline

In [2]:
# set seed
np.seed(111)

# function to generate test data
def CreateDataSet(Number=1):
    
    Output = []
    
    for i in range(Number):
        
        #create a weekly (Mondays) date range
        rng = pd.date_range(start = '1/1/2009', end='12/31/2012', freq='W-MON')
        
        #Create random data
        data = np.randint(low=25, high=1000, size=len(rng))
        
        # status pool
        status = [1,2,3]
        
        # make random list of statuses
        random_status = [status[np.randint(low=0, high=len(status))] for i in range(len(rng))]
        
        # state pool
        states = ['GA','FL','fl','NY','NJ','TX']
        
        # make a random list of states
        random_states = [states[np.randint(low=0, high=len(states))] for i in range(len(rng))]
        
        Output.extend(zip(random_states, random_status, data, rng))
        
    return Output

In [3]:
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset, columns=['State', 'Status', 'CustomerCount', 'StatusDate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 4 columns):
State            836 non-null object
Status           836 non-null int64
CustomerCount    836 non-null int64
StatusDate       836 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 26.2+ KB

In [4]:
df.head()

  State  Status  CustomerCount StatusDate
0    GA       1            877 2009-01-05
1    FL       1            901 2009-01-12
2    fl       3            749 2009-01-19
3    FL       3            111 2009-01-26
4    GA       1            300 2009-02-02

In [5]:
# save results to excel
df.to_excel('Lesson3.xlsx', index=False)
print 'Done'

Done

In [6]:
#Location of file
Location = r'C:\Users\anne1\Documents\Data_Science_AAR_2.0\Learn Pandas Rojas\Lesson3.xlsx'

#Parse a specific sheet
df = pd.read_excel(Location, 0, index_col='StatusDate')
df.dtypes

State            object
Status            int64
CustomerCount     int64
dtype: object

In [7]:
df.index

DatetimeIndex(['2009-01-05', '2009-01-12', '2009-01-19', '2009-01-26',
               '2009-02-02', '2009-02-09', '2009-02-16', '2009-02-23',
               '2009-03-02', '2009-03-09',
               ...
               '2012-10-29', '2012-11-05', '2012-11-12', '2012-11-19',
               '2012-11-26', '2012-12-03', '2012-12-10', '2012-12-17',
               '2012-12-24', '2012-12-31'],
              dtype='datetime64[ns]', name=u'StatusDate', length=836, freq=None)

In [8]:
df.head()

           State  Status  CustomerCount
StatusDate
2009-01-05    GA       1            877
2009-01-12    FL       1            901
2009-01-19    fl       3            749
2009-01-26    FL       3            111
2009-02-02    GA       1            300

In [9]:
df['State'].unique()

array([u'GA', u'FL', u'fl', u'TX', u'NY', u'NJ'], dtype=object)

In [10]:
# Clean State column, convert all to upper case
df['State'] = df.State.apply(lambda x: x.upper())

In [11]:
df['State'].unique()

array([u'GA', u'FL', u'TX', u'NY', u'NJ'], dtype=object)

In [18]:
# Only grab where Status == 1
mask = df['Status'] == 1
df = df[mask]

In [19]:
# Convert NJ to NY
mask = df.State == 'NJ'
df['State'][mask] = 'NY'

C:\Users\anne1\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()