In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
import sklearn.linear_model

# Groupby Examples

Great link with examples:
<http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/>

In [2]:
#C:\Users\anne1\Documents\DS_SM_15\Good Code Examples
#C:\Users\anne1\Documents\DS_SM_15\lessons\lesson-06\code\dataset\msleep

#Load mammals dataset

#creates pathname object for where the file is saved
wd = '../lessons/lesson-06/code/dataset/msleep/'

#creates a dataframe object called mammals that is created from reading in a csv file, whose full name is 
#is created by concatenating the pathname object 'wd' and the file name 
mammals = pd.read_csv(wd+'msleep.csv')

In [3]:
#shows first row of dataset
mammals.head(1)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.0

In [4]:
# get the mean of the sleep_total columns for each order
mammals.groupby('order')['sleep_total'].mean()

order
Afrosoricida       15.600000
Artiodactyla        4.516667
Carnivora          10.116667
Cetacea             4.500000
Chiroptera         19.800000
Cingulata          17.750000
Didelphimorphia    18.700000
Diprotodontia      12.400000
Erinaceomorpha     10.200000
Hyracoidea          5.666667
Lagomorpha          8.400000
Monotremata         8.600000
Perissodactyla      3.466667
Pilosa             14.400000
Primates           10.500000
Proboscidea         3.600000
Rodentia           12.468182
Scandentia          8.900000
Soricomorpha       11.100000
Name: sleep_total, dtype: float64

In [5]:
# rows are grouped by order and then genus, then the mean of their 'sleep_total' is returned
# order matters, be sure that the larger category is listed before the sub-category
mammals.groupby(['order', 'genus'])['sleep_total'].mean()

order            genus
Afrosoricida     Tenrec           15.600000
Artiodactyla     Bos               4.000000
                 Capreolus         3.000000
                 Capri             5.300000
                 Giraffa           1.900000
                 Ovis              3.800000
                 Sus               9.100000
Carnivora        Acinonyx         12.100000
                 Callorhinus       8.700000
                 Canis            10.100000
                 Felis            12.500000
                 Genetta           6.300000
                 Haliochoerus      6.200000
                 Panthera         13.233333
                 Phoca             3.500000
                 Vulpes           11.150000
Cetacea          Globicephalus     2.700000
                 Phocoena          5.600000
                 Tursiops          5.200000
Chiroptera       Eptesicus        19.700000
                 Myotis           19.900000
Cingulata        Dasypus          17.400000
                 Priodontes       18.100000
Didelphimorphia  Didelphis        18.000000
                 Lutreolina       19.400000
Diprotodontia    Phalanger        13.700000
                 Potorous         11.100000
Erinaceomorpha   Erinaceus        10.100000
                 Paraechinus      10.300000
Hyracoidea       Dendrohyrax       5.300000
                                    ...
Primates         Perodicticus     11.000000
                 Saimiri           9.600000
Proboscidea      Elephas           3.900000
                 Loxodonta         3.300000
Rodentia         Aplodontia       14.400000
                 Calomys           7.000000
                 Cavis             9.400000
                 Chinchilla       12.500000
                 Cricetomys        8.300000
                 Eutamias         14.900000
                 Meriones         14.200000
                 Mesocricetus     14.300000
                 Microtus         12.800000
                 Mus              12.500000
                 Neofiber         14.600000
                 Octodon           7.700000
                 Onychomys        14.500000
                 Peromyscus       11.500000
                 Rattus           13.000000
                 Rhabdomys         8.700000
                 Sigmodon         11.300000
                 Spalax           10.600000
                 Spermophilus     15.433333
                 Tamias           15.800000
Scandentia       Tupaia            8.900000
Soricomorpha     Blarina          14.900000
                 Condylura        10.300000
                 Cryptotis         9.100000
                 Scalopus          8.400000
                 Suncus           12.800000
Name: sleep_total, Length: 77, dtype: float64

In [6]:
# Groups by Order, then genus.  Then calculates the mean for the variables 'sleep_total' and 'awake'.
mammals.groupby(['order', 'genus'])['sleep_total','awake'].mean()

                               sleep_total      awake
order           genus
Afrosoricida    Tenrec           15.600000   8.400000
Artiodactyla    Bos               4.000000  20.000000
                Capreolus         3.000000  21.000000
                Capri             5.300000  18.700000
                Giraffa           1.900000  22.100000
                Ovis              3.800000  20.200000
                Sus               9.100000  14.900000
Carnivora       Acinonyx         12.100000  11.900000
                Callorhinus       8.700000  15.300000
                Canis            10.100000  13.900000
                Felis            12.500000  11.500000
                Genetta           6.300000  17.700000
                Haliochoerus      6.200000  17.800000
                Panthera         13.233333  10.766667
                Phoca             3.500000  20.500000
                Vulpes           11.150000  12.850000
Cetacea         Globicephalus     2.700000  21.350000
                Phocoena          5.600000  18.450000
                Tursiops          5.200000  18.800000
Chiroptera      Eptesicus        19.700000   4.300000
                Myotis           19.900000   4.100000
Cingulata       Dasypus          17.400000   6.600000
                Priodontes       18.100000   5.900000
Didelphimorphia Didelphis        18.000000   6.000000
                Lutreolina       19.400000   4.600000
Diprotodontia   Phalanger        13.700000  10.300000
                Potorous         11.100000  12.900000
Erinaceomorpha  Erinaceus        10.100000  13.900000
                Paraechinus      10.300000  13.700000
Hyracoidea      Dendrohyrax       5.300000  18.700000
...                                    ...        ...
Primates        Perodicticus     11.000000  13.000000
                Saimiri           9.600000  14.400000
Proboscidea     Elephas           3.900000  20.100000
                Loxodonta         3.300000  20.700000
Rodentia        Aplodontia       14.400000   9.600000
                Calomys           7.000000  17.000000
                Cavis             9.400000  14.600000
                Chinchilla       12.500000  11.500000
                Cricetomys        8.300000  15.700000
                Eutamias         14.900000   9.100000
                Meriones         14.200000   9.800000
                Mesocricetus     14.300000   9.700000
                Microtus         12.800000  11.200000
                Mus              12.500000  11.500000
                Neofiber         14.600000   9.400000
                Octodon           7.700000  16.300000
                Onychomys        14.500000   9.500000
                Peromyscus       11.500000  12.500000
                Rattus           13.000000  11.000000
                Rhabdomys         8.700000  15.300000
                Sigmodon         11.300000  12.700000
                Spalax           10.600000  13.400000
                Spermophilus     15.433333   8.566667
                Tamias           15.800000   8.200000
Scandentia      Tupaia            8.900000  15.100000
Soricomorpha    Blarina          14.900000   9.100000
                Condylura        10.300000  13.700000
                Cryptotis         9.100000  14.900000
                Scalopus          8.400000  15.600000
                Suncus           12.800000  11.200000

[77 rows x 2 columns]

In [7]:
mammals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [8]:
# rows grouped by order and genus. Columns for sleep_total and awake, 
#Agg function to apply distinct list of computations to each column
# Agg function takes a dict where the column name is the key and the computations are the list
mammals.groupby(['order', 'genus'])['sleep_total','awake'].agg({
    'sleep_total':['sum','mean','max'],
    'awake': ['max','min','sum']})

                              sleep_total                   awake         \
                                      sum       mean   max    max    min
order           genus
Afrosoricida    Tenrec               15.6  15.600000  15.6   8.40   8.40
Artiodactyla    Bos                   4.0   4.000000   4.0  20.00  20.00
                Capreolus             3.0   3.000000   3.0  21.00  21.00
                Capri                 5.3   5.300000   5.3  18.70  18.70
                Giraffa               1.9   1.900000   1.9  22.10  22.10
                Ovis                  3.8   3.800000   3.8  20.20  20.20
                Sus                   9.1   9.100000   9.1  14.90  14.90
Carnivora       Acinonyx             12.1  12.100000  12.1  11.90  11.90
                Callorhinus           8.7   8.700000   8.7  15.30  15.30
                Canis                10.1  10.100000  10.1  13.90  13.90
                Felis                12.5  12.500000  12.5  11.50  11.50
                Genetta               6.3   6.300000   6.3  17.70  17.70
                Haliochoerus          6.2   6.200000   6.2  17.80  17.80
                Panthera             39.7  13.233333  15.8  13.60   8.20
                Phoca                 3.5   3.500000   3.5  20.50  20.50
                Vulpes               22.3  11.150000  12.5  14.20  11.50
Cetacea         Globicephalus         2.7   2.700000   2.7  21.35  21.35
                Phocoena              5.6   5.600000   5.6  18.45  18.45
                Tursiops              5.2   5.200000   5.2  18.80  18.80
Chiroptera      Eptesicus            19.7  19.700000  19.7   4.30   4.30
                Myotis               19.9  19.900000  19.9   4.10   4.10
Cingulata       Dasypus              17.4  17.400000  17.4   6.60   6.60
                Priodontes           18.1  18.100000  18.1   5.90   5.90
Didelphimorphia Didelphis            18.0  18.000000  18.0   6.00   6.00
                Lutreolina           19.4  19.400000  19.4   4.60   4.60
Diprotodontia   Phalanger            13.7  13.700000  13.7  10.30  10.30
                Potorous             11.1  11.100000  11.1  12.90  12.90
Erinaceomorpha  Erinaceus            10.1  10.100000  10.1  13.90  13.90
                Paraechinus          10.3  10.300000  10.3  13.70  13.70
Hyracoidea      Dendrohyrax           5.3   5.300000   5.3  18.70  18.70
...                                   ...        ...   ...    ...    ...
Primates        Perodicticus         11.0  11.000000  11.0  13.00  13.00
                Saimiri               9.6   9.600000   9.6  14.40  14.40
Proboscidea     Elephas               3.9   3.900000   3.9  20.10  20.10
                Loxodonta             3.3   3.300000   3.3  20.70  20.70
Rodentia        Aplodontia           14.4  14.400000  14.4   9.60   9.60
                Calomys               7.0   7.000000   7.0  17.00  17.00
                Cavis                 9.4   9.400000   9.4  14.60  14.60
                Chinchilla           12.5  12.500000  12.5  11.50  11.50
                Cricetomys            8.3   8.300000   8.3  15.70  15.70
                Eutamias             14.9  14.900000  14.9   9.10   9.10
                Meriones             14.2  14.200000  14.2   9.80   9.80
                Mesocricetus         14.3  14.300000  14.3   9.70   9.70
                Microtus             12.8  12.800000  12.8  11.20  11.20
                Mus                  12.5  12.500000  12.5  11.50  11.50
                Neofiber             14.6  14.600000  14.6   9.40   9.40
                Octodon               7.7   7.700000   7.7  16.30  16.30
                Onychomys            14.5  14.500000  14.5   9.50   9.50
                Peromyscus           11.5  11.500000  11.5  12.50  12.50
                Rattus               13.0  13.000000  13.0  11.00  11.00
                Rhabdomys             8.7   8.700000   8.7  15.30  15.30
                Sigmodon             11.3  11.300000  11.3  12.70  12.70
                Spalax               10.6  10.600000  10.6  13.40  13.40
                Spermophilus         46.3  15.433333  16.6  10.20   7.40
                Tamias               15.8  15.800000  15.8   8.20   8.20
Scandentia      Tupaia                8.9   8.900000   8.9  15.10  15.10
Soricomorpha    Blarina              14.9  14.900000  14.9   9.10   9.10
                Condylura            10.3  10.300000  10.3  13.70  13.70
                Cryptotis             9.1   9.100000   9.1  14.90  14.90
                Scalopus              8.4   8.400000   8.4  15.60  15.60
                Suncus               12.8  12.800000  12.8  11.20  11.20


                                 sum
order           genus
Afrosoricida    Tenrec          8.40
Artiodactyla    Bos            20.00
                Capreolus      21.00
                Capri          18.70
                Giraffa        22.10
                Ovis           20.20
                Sus            14.90
Carnivora       Acinonyx       11.90
                Callorhinus    15.30
                Canis          13.90
                Felis          11.50
                Genetta        17.70
                Haliochoerus   17.80
                Panthera       32.30
                Phoca          20.50
                Vulpes         25.70
Cetacea         Globicephalus  21.35
                Phocoena       18.45
                Tursiops       18.80
Chiroptera      Eptesicus       4.30
                Myotis          4.10
Cingulata       Dasypus         6.60
                Priodontes      5.90
Didelphimorphia Didelphis       6.00
                Lutreolina      4.60
Diprotodontia   Phalanger      10.30
                Potorous       12.90
Erinaceomorpha  Erinaceus      13.90
                Paraechinus    13.70
Hyracoidea      Dendrohyrax    18.70
...                              ...
Primates        Perodicticus   13.00
                Saimiri        14.40
Proboscidea     Elephas        20.10
                Loxodonta      20.70
Rodentia        Aplodontia      9.60
                Calomys        17.00
                Cavis          14.60
                Chinchilla     11.50
                Cricetomys     15.70
                Eutamias        9.10
                Meriones        9.80
                Mesocricetus    9.70
                Microtus       11.20
                Mus            11.50
                Neofiber        9.40
                Octodon        16.30
                Onychomys       9.50
                Peromyscus     12.50
                Rattus         11.00
                Rhabdomys      15.30
                Sigmodon       12.70
                Spalax         13.40
                Spermophilus   25.70
                Tamias          8.20
Scandentia      Tupaia         15.10
Soricomorpha    Blarina         9.10
                Condylura      13.70
                Cryptotis      14.90
                Scalopus       15.60
                Suncus         11.20

[77 rows x 6 columns]

In [9]:
#mammals = mammals[mammals.brainwt.notnull()].copy()

# Regression with Sklearn

In [ ]:
from sklearn import feature_selection, linear_model

def get_linear_model_metrics(X, y, algo):
    # get the pvalue of X given y. Ignore f-stat for now.
    pvals = feature_selection.f_regression(X, y)[1]
    # start with an empty linear regression object
    # .fit() runs the linear regression function on X and y
    algo.fit(X,y)
    residuals = (y-algo.predict(X)).values

    # print the necessary values
    print 'P Values:', pvals
    print 'Coefficients:', algo.coef_
    print 'y-intercept:', algo.intercept_
    print 'R-Squared:', algo.score(X,y)
    print 'Mean squared error:', metrics.mean_squared_error(y, algo.predict(X))
    plt.figure()
    plt.hist(residuals, bins=np.ceil(np.sqrt(len(y))).astype(int))
    
    # keep the model
    return algo


X = mammals[['bodywt']]
y = mammals['brainwt']
lm = linear_model.LinearRegression()
lm = get_linear_model_metrics(X, y, lm)

In [ ]:
from sklearn import linear_model
mylm = linear_model.LinearRegression() #empty model

mylm.fit(X,y)
mylm.score(X,y)

#ypred = mylm.predict(X)
#myresiduals = (y-ypred).values

#plt.figure()
#plt.hist(myresiduals, bins=np.ceil(np.sqrt(len(y))).astype(int))
#print myresiduals