# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [34]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [35]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [36]:
# frequency table for prestige and whether or not someone was admitted
print df.prestige.value_counts()
print df.admit.value_counts()

2.0    148
3.0    121
4.0     67
1.0     61
Name: prestige, dtype: int64
0    271
1    126
Name: admit, dtype: int64

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [47]:
dummy_ranks = pd.get_dummies(df.prestige.astype(int),prefix = "prestige")
print dummy_ranks.head()

   prestige_1  prestige_2  prestige_3  prestige_4
0           0           0           1           0
1           0           0           1           0
2           1           0           0           0
3           0           0           0           1
4           0           0           0           1

#### 2.2 When modeling our class variables, how many do we need?

Answer: We need k-1, or 3

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [39]:
admitted = float(df.admit[df.admit == 1].sum()) 
print admitted,"people were admitted"

not_admitted = float(df.admit[df.admit == 0].count())
print not_admitted,"people were NOT admitted"

odds_admitted = admitted/not_admitted 
print "Odds admitted are",str(odds_admitted),"to 1"

odds_not_admitted = not_admitted/admitted
print "Odds not admitted are",odds_not_admitted,"to 1"

odds_ratio = odds_admitted/odds_not_admitted
print "Odds ratio is",odds_ratio

126.0 people were admitted
271.0 people were NOT admitted
Odds admitted are 0.464944649446 to 1
Odds not admitted are 2.15079365079 to 1
Odds ratio is 0.216173527049

In [48]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_1':])
print handCalc.head()

   admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           0           1           0
1      1  660.0  3.67           0           0           1           0
2      1  800.0  4.00           1           0           0           0
3      1  640.0  3.19           0           0           0           1
4      0  520.0  2.93           0           0           0           1

In [51]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab(handCalc["prestige_1"], handCalc.admit)

admit         0   1
prestige_1
0           243  93
1            28  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [59]:
odds_admit_prestige_1 = 33./28
print """
Your odds of getting into grad school are %f to 1 
if you attended a top-ranked undergrad school""" % odds_admit_prestige_1

Your odds of getting into grad school are 1.178571 to 1
if you attended a top-ranked undergrad school

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [60]:
odds_admit_notprestige_1 = 93./243
print """
Your odds of getting into grad school are %f to 1 
if you did NOT attend a top-ranked undergrad school""" % odds_admit_notprestige_1

Your odds of getting into grad school are 0.382716 to 1
if you did NOT attend a top-ranked undergrad school

#### 3.3 Calculate the odds ratio

In [62]:
odds_ratio = odds_admit_prestige_1 / odds_admit_notprestige_1
print """
The odds ratio for being admitted to a grad school based on 
whether or not the undergrad school was top-ranked is %f.""" % odds_ratio

The odds ratio for being admitted to a grad school based on
whether or not the undergrad school was top-ranked is 3.079493.

#### 3.4 Write this finding in a sentenance:

Answer: Those who graduate from a top-ranked undergrad program are 3x more likely to be admitted into a grad school than those who did not.

#### 3.5 Print the cross tab for prestige_4

In [63]:
pd.crosstab(handCalc.prestige_4, handCalc.admit)

admit         0    1
prestige_4
0           216  114
1            55   12

#### 3.6 Calculate the OR

In [64]:
odds_admit_prestige_4 = 12./55
print """
Your odds of getting into grad school are %f to 1 
if you attended a bottom-ranked undergrad school""" % odds_admit_prestige_4

odds_admit_notprestige_4 = 114./216
print """
Your odds of getting into grad school are %f to 1 
if you did NOT attend a bottom-ranked undergrad school""" % odds_admit_notprestige_4

odds_ratio = odds_admit_prestige_4 / odds_admit_notprestige_4
print """
The odds ratio for being admitted to a grad school based on 
whether or not the undergrad school was bottom-ranked is %f.""" % odds_ratio

Your odds of getting into grad school are 0.218182 to 1
if you attended a bottom-ranked undergrad school

Your odds of getting into grad school are 0.527778 to 1
if you did NOT attend a bottom-ranked undergrad school

The odds ratio for being admitted to a grad school based on
whether or not the undergrad school was bottom-ranked is 0.413397.

#### 3.7 Write this finding in a sentence

Answer: Those who graduate from a bottom-ranked undergrad program are 59% less  likely to be admitted into a grad school than those who did not.

## Part 4. Analysis

In [66]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_1':])
print data.head()

   admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           0           1           0
1      1  660.0  3.67           0           0           1           0
2      1  800.0  4.00           1           0           0           0
3      1  640.0  3.19           0           0           0           1
4      0  520.0  2.93           0           0           0           1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [50]:
# manually add the intercept
data['intercept'] = 1.0

   admit    gre   gpa  prestige_2  prestige_3  prestige_4  intercept
0      0  380.0  3.61           0           1           0        1.0
1      1  660.0  3.67           0           1           0        1.0
2      1  800.0  4.00           0           0           0        1.0
3      1  640.0  3.19           0           0           1        1.0
4      0  520.0  2.93           0           0           1        1.0

#### 4.1 Set the covariates to a variable called train_cols

In [68]:
train_cols = data.columns[1:]
print train_cols

Index([u'gre', u'gpa', u'prestige_1', u'prestige_2', u'prestige_3',
       u'prestige_4'],
      dtype='object')

#### 4.2 Fit the model

In [69]:
lm = sm.Logit(data['admit'], data[train_cols])
result = lm.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [70]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Thu, 15 Jun 2017   Pseudo R-squ.:                 0.08166
Time:                        14:02:42   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
gre            0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa            0.7793      0.333      2.344      0.019         0.128     1.431
prestige_1    -3.8769      1.142     -3.393      0.001        -6.116    -1.638
prestige_2    -4.5570      1.113     -4.093      0.000        -6.739    -2.375
prestige_3    -5.2155      1.151     -4.530      0.000        -7.472    -2.959
prestige_4    -5.4303      1.140     -4.764      0.000        -7.664    -3.196
==============================================================================
"""

#### 4.4 Calculate the odds ratios of the coefficients and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [80]:
coefficients = result.params
OR = np.exp(coefficients)
print OR

gre           1.002221
gpa           2.180027
prestige_1    0.020716
prestige_2    0.010494
prestige_3    0.005432
prestige_4    0.004382
dtype: float64

In [84]:
conf = result.conf_int()
conf.head()

                   0         1
gre         0.000074  0.004362
gpa         0.127619  1.431056
prestige_1 -6.116077 -1.637631
prestige_2 -6.739307 -2.374674
prestige_3 -7.472244 -2.958819

In [83]:
coefficients = result.params
conf = result.conf_int()
conf['OR'] = coefficients
conf.columns = ['2.5%','97.5', 'OR']
print np.exp(conf)

                2.5%      97.5        OR
gre         1.000074  1.004372  1.002221
gpa         1.136120  4.183113  2.180027
prestige_1  0.002207  0.194440  0.020716
prestige_2  0.001183  0.093045  0.010494
prestige_3  0.000569  0.051880  0.005432
prestige_4  0.000469  0.040919  0.004382

#### 4.5 Interpret the OR of Prestige_2

Answer: Those who attended a prestige 2 school are 50% less likely to get admitted than those with prestige 1 schools.

#### 4.6 Interpret the OR of GPA

Answer: Each one unit increase in GPA increases the chances of getting into grad school by 2.18 units of probability

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [85]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [96]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]),columns = ['gre','gpas','prestigev2','intercept'])
combos.head()

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

     gre      gpas  prestigev2  intercept
0  220.0  2.260000         1.0        1.0
1  220.0  2.260000         2.0        1.0
2  220.0  2.260000         3.0        1.0
3  220.0  2.260000         4.0        1.0
4  220.0  2.453333         1.0        1.0

#### 5.1 Recreate the dummy variables

In [97]:
combos['prestigev2'].astype(int, copy = True)

0      1
1      2
2      3
3      4
4      1
5      2
6      3
7      4
8      1
9      2
10     3
11     4
12     1
13     2
14     3
15     4
16     1
17     2
18     3
19     4
20     1
21     2
22     3
23     4
24     1
25     2
26     3
27     4
28     1
29     2
      ..
370    3
371    4
372    1
373    2
374    3
375    4
376    1
377    2
378    3
379    4
380    1
381    2
382    3
383    4
384    1
385    2
386    3
387    4
388    1
389    2
390    3
391    4
392    1
393    2
394    3
395    4
396    1
397    2
398    3
399    4
Name: prestigev2, dtype: int32

In [98]:
combos.head()

     gre      gpas  prestigev2  intercept
0  220.0  2.260000         1.0        1.0
1  220.0  2.260000         2.0        1.0
2  220.0  2.260000         3.0        1.0
3  220.0  2.260000         4.0        1.0
4  220.0  2.453333         1.0        1.0

In [94]:
# recreate the dummy variables

# keep only what we need for making predictions

dummy_ranks_2 = pd.get_dummies(combos['prestige'], prefix = 'prestige')

print dummy_ranks_2.head()

   prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0             1             0             0             0
1             0             1             0             0
2             0             0             1             0
3             0             0             0             1
4             1             0             0             0

#### 5.2 Make predictions on the enumerated dataset

#### 5.3 Interpret findings for the last 4 observations

Answer:

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.